.App {
  text-align: center;
}

.plan {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

h1{
  background-color: #6099ac;
  margin-top: 0;
  padding: 10px;
  color: white;
  border-bottom: 2px solid black;
}